.filter {
    height: 70px;
    background-color: #fff4ce;
    border-top: 2px solid #f8e8ad;
    border-bottom: 2px solid #f8e8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    column-gap: 10px;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en varias líneas si es necesario */
}

.filter label,
.filter select {
    margin: 0;
}

.filter label {
    color: #fb8871;
    font-weight: 800;
}

select {
    border-radius: 5px;
    text-align: center;
    width: 200px;
    background-color: #e6d1b1;
    border: none;
}

@media (max-width: 768px) {
    .filter {
        flex-direction: row;
        align-items: stretch;
        height: auto;
    }

    .filter label,
    .filter select {
        font-size: 16px;
        display: block;
        width: 100%;
    }

    .filter label {
        text-align: center;
        font-weight: 800;
        color: #fb8871;
    }
}

@media (max-width: 992px) {
    .filter {
        flex-direction: row;
        align-items: stretch;
        height: auto;
    }

    .filter label,
    .filter select {
        font-size: 16px;
        display: block;
        width: 100%;
    }

    .filter label {
        text-align: center;
        font-weight: 800;
        color: #fb8871;
    }
}